<div class="software">
  <div class="">
    <h4>工具：</h4>
    <ul>
      <li><a href="https://colorpix.en.softonic.com/download/" target="_blank">颜色获取器</a></li>
      <li><a href="http://www.spritecow.com/" target="_blank">精灵图定位在线</a></li>
      <li><a href="https://www.processon.com/" target="_blank">在线作图</a></li>
      <li><a href="https://color.adobe.com/zh/create/color-wheel/" target="_blank">配色1</a></li>
      <li><a href="http://www.colorhexa.com/96d9ec/" target="_blank">配色2</a></li>
      <li><a href="https://uzer.me/z/apps/" target="_blank">云端应用(word\photoshop....)</a></li>
      <li><a href="https://www.ngrok.cc/" target="_blank">ngrok,内网转外网</a></li>
    </ul>
  </div>
</div>
