<div class="about">
  <div class="">
    <h4>博客的技术：</h4>
    <ul>
      <li>前端: angular4</li>
      <li>后台: express</li>
      <li>数据库: MongoDB</li>
      <li>用户验证: JWT</li>
    </ul>
  </div>
  <div class="">
    <h4>为什么做这个博客呢：</h4>
    <ul>
      <li>1. 觉得应该有个技术博客,促进自己不停学习及归纳</li>
      <li>2. 在前端奋斗了一段时候后,好好锻炼自己的全栈能力</li>
      <li>3. 能够小小装一波</li>
    </ul>
  </div>
  <div class="">
    <h4>个人信息：</h4>
    <ul>
      <li><a href="https://github.com/Garyhjj/" target="_blank" >github地址</a></li>
    </ul>
  </div>

  <div class="">
    <h4>自作小工具：</h4>
    <ul>
      <li><a href="https://garyhjj.github.io/sky/myChart/" target="_blank" >echarts配置小工具</a></li>
    </ul>
  </div>

</div>
