<div class="aside">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="关键字搜索" #keyVal>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="searchKey(keyVal.value)">Go!</button>
      </span>
  </div>
  <!-- /input-group -->
  <section class="widget">
    <h3 class="widget-title">分类</h3>
    <ul class="widget-list">
      <li *ngFor="let type of opt.type"><a href="#" (click)="searchType(type.name)">{{type.name}}</a> ({{type.num}})</li>
    </ul>
  </section>
  <section class="widget">
    <h3 class="widget-title">标签列表</h3>
    <ul class="widget-list">
      <li class="tags" *ngFor="let label of opt.label" (click)="searchLabel(label.name)">
        <a rel="tag" href="#">{{label.name}}</a>
      </li>
    </ul>
  </section>
  <section class="widget">
    <h3 class="widget-title">归档</h3>
    <ul class="widget-list">
      <li *ngFor="let date of opt.date"><a href="#" (click)="searchDate(date.name)">{{date.name | date:'MMMM yyyy'}}</a>
      </li>
    </ul>
  </section>
  <section class="widget">
    <h3 class="widget-title">最新文章</h3>
    <ul class="widget-list">
      <li *ngFor="let item of opt.lastest"><a href="#" (click)="toDetial(item._id)">{{item.title}}</a></li>
    </ul>
  </section>
  <section class="widget">
    <h3 class="widget-title">友情链接</h3>
  </section>
  <section class="widget">
    <h3 class="widget-title">其它</h3>
    <ul class="widget-list">
      <li (click)="showLogin=!showLogin"><a href="javascript:">登录</a></li>
    </ul>
    <ul class="widget-list">
      <li (click)="toLogout()"><a href="javascript:">登出</a></li>
    </ul>
  </section>
  <my-login *ngIf="showLogin"></my-login>
</div>
